.qr-code {
    &__component {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1080px;
        margin: 0 auto;
    }

    &__canvas {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    &__donwload {
        width: 1080px;
        margin: 0 auto;
        height: 40px;
        font-size: 16px;
        line-height: 18px;
        font-family: "Roboto", sans-serif;
        border: 1px solid var(--black-LM);
        border-radius: 10px;
        background-color: var(--black-LM);
        color: var(--white-LM);
        transition: 0.5s all;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        &:hover {
            background-color: var(--purple-LM);
            border: 1px solid var(--purple-LM);
            box-shadow: 0 0 5px 1px var(--purple-LM);
        }

        @media (max-width: 450px) {
            width: 300px;
        }
    }
}
