.footer {
    &__content {
        background-image: linear-gradient(180deg, var(--pink-LM), var(--black-LM));
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding: 10px 0;
        box-shadow: 0px -3px 7px 3px #fa00c4;
    }
    &__development,
    &__link {
        color: var(--white-LM);
        font-size: 18px;
        @media (max-width: 450px) {
            font-size: 12px;
        }
    }
    &__development {
        margin-top: 5px;
    }
    &__link {
        text-decoration: none;
        margin: 0 0 0 5px;
        &--networks{
            height: 40px;
            width: 40px;
            @media (max-width: 450px) {
                height: 35px;
                width: 35px;

            }

            svg{
                @media (max-width: 450px) {
                    height: 35px;
                    width: 35px;
                }
            }

        }
        &::hover,
        &::focus {
            text-decoration: none;
            color: var(--white-LM);
        }
    }
    &__contact{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 0 0 15px 0;
        @media (max-width: 450px) {
            gap: 30px;
            margin: 10px 0 15px 0;
        }
    }
    &__logo {
        &--github,
        &--linkedin {
            width: 40px;
            height: 40px;
            padding: 12px;
            margin: auto 5px;
        }
    }
}
