@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

:root {
  --white-LM: #fff;
  --black-LM: #000;
  --gray-LM: #666;
  --blue-LM: #009dac;
  --pink-LM: #fa00c4;
  --purple-LM: #69005c
}

body {
  margin: 0;
  font-family:'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
